@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> On this website you can add cool movies, games, albums that you enjoy.</p>
</div>
